## 15. Ordered Bar Chart

In [3]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import warnings; warnings.filterwarnings(action='once')

In [4]:
# Prepare Data
df_raw = pd.read_csv("https://github.com/selva86/datasets/raw/master/mpg_ggplot2.csv")

In [15]:
df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())

/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/2165432608.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())

                    cty
manufacturer
audi          17.611111
chevrolet     15.000000
dodge         13.135135
ford          14.000000
honda         24.444444
hyundai       18.642857
jeep          13.500000
land rover    11.500000
lincoln       11.333333
mercury       13.250000
nissan        18.076923
pontiac       17.000000
subaru        19.285714
toyota        18.529412
volkswagen    20.925926

In [10]:
df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())

# df.sort_values('cty', inplace=True)
# df.reset_index(inplace=True)

/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())
/var/folders/r7/v4b_0z3d69n_ggx7tnpbhcg80000gn/T/ipykernel_34046/1999823600.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df_raw[['cty', 'manufacturer']].groupby('manufacturer').apply(lambda x: x.mean())

                    cty
manufacturer
audi          17.611111
chevrolet     15.000000
dodge         13.135135
ford          14.000000
honda         24.444444
hyundai       18.642857
jeep          13.500000
land rover    11.500000
lincoln       11.333333
mercury       13.250000
nissan        18.076923
pontiac       17.000000
subaru        19.285714
toyota        18.529412
volkswagen    20.925926