In [69]:
from alchemlyb_module.src.alchemlyb.parsing import amber

In [70]:
amber.extract_dHdl('/Users/freyali/2023summerb/2023summer/alchemlyb/data/1.0/ti.out', 300)

/Users/freyali/2023summerb/2023summer/alchemlyb/alchemlyb_module/src/alchemlyb/parsing/amber.py:39: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  index=pd.Float64Index(data_dic["time"], name='time'))

                dHdl
time   lambdas
42.0   1.0       0.0
44.0   1.0       0.0
46.0   1.0       0.0
48.0   1.0       0.0
50.0   1.0       0.0
...              ...
2032.0 1.0       0.0
2034.0 1.0       0.0
2036.0 1.0       0.0
2038.0 1.0       0.0
2040.0 1.0       0.0

[1000 rows x 1 columns]

In [ ]:
amber.extract_dHdl(

In [44]:
dhdl

                          fep
time    fep-lambda
0.0     0.0         40.170175
10.0    0.0         27.694124
20.0    0.0         15.909586
30.0    0.0         15.239225
40.0    0.0         23.464891
...                       ...
39960.0 0.0         32.286578
39970.0 0.0         24.109043
39980.0 0.0         20.902754
39990.0 0.0         34.446841
40000.0 0.0         32.481925

[4001 rows x 1 columns]

In [26]:
import alchemlyb

In [31]:
dataset2 = load_benzene().data
dhdl_coul = alchemlyb.concat([extract_dHdl(xvg, T=300) for xvg in dataset2['Coulomb']])

/Users/freyali/anaconda3/envs/2023summer/lib/python3.8/site-packages/alchemlyb-0+untagged.1.g2c80286.dirty-py3.8.egg/alchemlyb/parsing/gmx.py:187: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
/Users/freyali/anaconda3/envs/2023summer/lib/python3.8/site-packages/alchemlyb-0+untagged.1.g2c80286.dirty-py3.8.egg/alchemlyb/parsing/gmx.py:187: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
/Users/freyali/anaconda3/envs/2023summer/lib/python3.8/site-packages/alchemlyb-0+untagged.1.g2c80286.dirty-py3.8.egg/alchemlyb/parsing/gmx.py:187: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
/Users/freyali/anaconda3/envs/2023summer/lib/python3.8/site-packages/alchemlyb-0+untagged.1.g2c80286.dirty-py3.8.egg/alchemlyb/parsing/gmx.py:187: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
/Users/freyali/anaconda3/envs/2023summer/lib/python3.8/site-packages/alchemlyb-0+untagged.1.g2c80286.dirty-py3.8.egg/alchemlyb/parsing/gmx.py:187: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.

In [32]:
dhdl_coul

                          fep
time    fep-lambda
0.0     0.0         13.390058
10.0    0.0          9.231375
20.0    0.0          5.303195
30.0    0.0          5.079742
40.0    0.0          7.821630
...                       ...
39960.0 1.0         -3.609585
39970.0 1.0          0.673338
39980.0 1.0         -1.184511
39990.0 1.0         -1.273484
40000.0 1.0         -0.416037

[20005 rows x 1 columns]